* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    /* height: 100%; */
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.tombol-fungsi button {
    margin: 0 10px 0 10px;
}

#bg-logo {
    background-color: #e74c3c;
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
    color: white;
}

#bg-logo img {
    width: 15%;
    background-color: red;
    margin: 10px 0 0 0;
}

.btn-clicked {
    background-color: #e74c3c;
    font-size: 16px;
    width: 150px;
    height: 40px;
    color: white;
    border: solid #e74c3c 2px;
    /* box-shadow: 2.5px 4px gray; */
}

.btn-normal {
    background-color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    color: black;
    border: solid #e74c3c 2px;
    /* box-shadow: 2.5px 4px black; */
}

.btn-active {
    background-color: green;
    color: white;
    font-size: 1.05rem;
    margin: 25px auto 0 auto;
    width: 120px;
    height: 50px;
    border: none;
}

.centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border: black 0.5px solid;
    border-radius: 3%;
    margin: 5% 0 0 0;
    background-color: white;
    /* background-color: blue; */
}

.form-login{
    margin: 15% 0 0 0;
}

.form-login input[type=password], .form-login input[type=text] {
    font-size: 16px;
    margin: 10px 0 0 0;
    width: 204px;
}

.form-login a {
    text-align: center;
    margin: 20px 0 0 0;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

.form-login select {
    font-size: 16px;
    width: 220px;
}

.form-cekspp input[type=text] {
    font-size: 16px;
    width: 204px;
}

.form-cekspp input[type=radio] {
    margin-right: 10px;
}

.one-line {
    display: flex;
    flex-direction: row;
}

.one-line label {
    /* display: inherit; */
    display: flex;
    width: 95px;
    height: 35px;
    margin: auto 0 auto 0;
    align-items: center;
    font-weight: bold;
}

.two-line {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.loginacc {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
}

.loginacc form {
    display: inherit;
    flex-direction: column;
}

.cekspp {
    display: none;
    flex-direction: column;
    height: 70%;
    justify-content: center;
}

.cekspp .two-line label {
    margin-bottom: 10px;
}

.cekspp .two-line input {
    margin-bottom: 10px;
}

/* input[type=text]{
    width: 210px;
} */

.support-sys {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0 0 0;
}

footer {
    width: 100%;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    margin: 4% 0 0 0;
}

/* Mulai dari sini CSS berita.html*/
/* body .container-berita {
    width: 80%;
    display: flex;
    align-items: center;
}

.container-berita>.berita {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: justify;
} */